:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

table {
    width: 100%;
    margin-top: 15px;
}

mat-divider {
    width: 100%;
}

mat-form-field {
    margin-top: 2em;
}

mat-select {
    width: 100%;
}

.registry-dialog {
    width: 900px;
    max-height: 95%;
    overflow-y: auto
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

tr.mat-footer-row {
    font-weight: bold;
}

